secrets:
 quay:
   authToken: {{ quay_auth_token }}

 git:
   authToken: {{ github_access_token | b64encode }}
   accountToken: {{ github_account | b64encode }}

 # Secret used for S3 functionality in manuela-data-lake
 aws:
   s3Secret: {{ s3_secret | b64encode }}