secrets:
 quay:
   authToken: {{ quay_auth_token }}
 
 git:
   authToken: {{ github_auth_token }}
   accountToken: {{ github_account_token }}
 
 # Secret used for S3 functionality in manuela-data-lake
 aws:
   s3Secret: {{ s3_secret_b64 }}